<header class="header-container">
	<a routerLink="/home"><img (click)="closeMenu()" class="logo" src="/assets/logo/logo-1.png" alt="logo"></a>

	<div class="nav-links-content" [class.menuClass]="menuVariable">
		<i class="nav-icon close-icon" (click)="closeMenu()">X</i>
		<ul class="nav-menu">
			<li><a (click)="closeMenu()" routerLink="/about">About</a></li>
			<li><a (click)="closeMenu()" routerLink="/prodects">Products</a></li>
		</ul>
	</div>

	<div class="menu-phone-tab">
		<a class="checkout-icon" routerLink="/checkout">🛒
			<span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span>
		</a>

		<div class="dropdown">
			<img mat-button (click)="openModal()" class="user-icon" src="../../assets/user-1.png" alt="user">
			<app-modal class="modal-content" *ngIf="showUserModal" (closed)="closeModal()">
				<img class="modal-user-icon" src="../../assets/user-1.png" alt="user">
				<div class="user-details">
					<h2 class="user-details-heading">User Details:-</h2>
					<p class="user-details-p">User Name: {{ userData?.name }}</p>
					<p class="user-details-p">Email: {{ userData?.email }}</p>
				</div>
				<button class="user-btn" (click)="logout()">Logout</button>
			</app-modal>
		</div>
		<i class="nav-icon open-icon" (click)="openMenu()">
			<div class="a"></div>
			<div class="a"></div>
			<div class="a"></div>
		</i>
	</div>
</header>